gdal>=3
h5py
hyp3-sdk
#isce2
matplotlib
mintpy
numpy
scipy
wget
# notebook
awscli            #for staged data downloading
jupyterlab
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
nbdime
# variogram
geopandas
pandas
rasterio
sardem
