gdal>=3
h5py
isce2
numpy
matplotlib
seaborn
scipy
# notebook
jupyterlab
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
nbdime
# mintpy
fortran-compiler  #for pysolid
scikit-learn      #for bootstrap method in ts2vel
rich              #for rich terminal output
